@model IEnumerable<CdDirectory.Models.Lender>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartLend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLend)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
